.Bonjour-nav{
    text-align: center;
}

.Bonjour-nav .Bonjour-ul{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}

.Bonjour-li{
    margin-left: 50px;
   
}